.bg-color-icons{
    background-color: #fafafa;
}
.icons_circles {
    width: 90px;
    margin: 80px;
    border-radius: 50%;
    border: 1px solid #ab5fd1;
    padding: 15px;
    display: inline-block;
}